In [1]:
# import numpy class
import numpy as np
# import panda class for handling data
import pandas as panda

In [2]:
#Read in the data from the link provided on moodle
powerProductionData = panda.read_csv("https://raw.githubusercontent.com/ianmcloughlin/2020A-machstat-project/master/dataset/powerproduction.csv")
#print out the results
powerProductionData.head(25)

    speed  power
0   0.000  0.000
1   0.125  0.000
2   0.150  0.000
3   0.225  0.000
4   0.275  0.000
5   0.325  4.331
6   0.400  5.186
7   0.450  3.826
8   0.501  1.048
9   0.526  5.553
10  0.551  6.498
11  0.576  5.241
12  0.626  4.220
13  0.676  7.974
14  0.701  9.746
15  0.726  0.000
16  0.751  0.000
17  0.801  7.271
18  0.826  0.795
19  0.851  7.350
20  0.926  1.996
21  0.951  1.609
22  0.976  2.064
23  1.001  6.511
24  1.026  0.000

In [3]:
#Generate descriptive statistics.
powerProductionData.describe()

            speed       power
count  500.000000  500.000000
mean    12.590398   48.014584
std      7.224991   41.614572
min      0.000000    0.000000
25%      6.324750    5.288000
50%     12.550500   41.645500
75%     18.775250   93.537000
max     25.000000  113.556000